.tabs-page {
    padding: 0 4vw;
    padding-top: 2vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 767px) {
    
    .tabs-page {
        padding: 6vw 4vw;
    }

}