.new-item-content {
    height: 100vh;
    padding: 2.2vw 2.5vw;
}

.new-item-content h1 {
    font-weight: 500;
    font-size: 2vw;
    margin-bottom: 3vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
}

.form-field-section {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.form-field-section label {
    color: #34333A;
    font-size: 1.1vw;
}

.form-field-section input {
    background-color: inherit;
    border: 2px solid #BDBDBD;
    border-radius: 12px;
    padding: 1.3vw 1.2vw;
    font-size: 1vw;
    color: #BDBDBD;
}

.form-field-section input::placeholder {
    color: #BDBDBD;
}

.form-field-section input:focus {
    outline: none;
    border: 2px solid #F9A109;
}

.form-field-section:focus-within label,
.form-field-section input:focus + label {
    color: #F9A109;
}

.form-field-section textarea {
    resize: none;
    background-color: inherit;
    border: 2px solid #BDBDBD;
    border-radius: 12px;
    padding: 1.3vw 1.2vw;
    font-size: 1vw;
    font-family: inherit;
    color: #BDBDBD;
    height: 13vh;
}

.form-field-section textarea:focus {
    outline: none;
    border: 2px solid #F9A109;
}

.autocomplete-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.autocomplete-input input {
    width: 100%;
}

.autocomplete-input button {
    background-color: transparent;
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #828282;
    cursor: pointer;
}

.autocomplete-input button span {
    font-size: 1.8vw;
}

.disabled {
    display: none;
}

.form-button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.btn-cancel {
    background-color: inherit;
    border: none;
    font-weight: 700;
    font-size: 1.1vw;
    color: #34333A;
    border-radius: 12px;
    padding: 1vw;
    cursor: pointer;
}

.btn-save {
    background-color: inherit;
    border: none;
    font-weight: 700;
    font-size: 1.1vw;
    color: #FFFFFF;
    border-radius: 12px;
    padding: 1vw;
    cursor: pointer;
    background: #F9A109;
    width: 25%;
}

.autocomplete-dropdown {
    height: 18vh;
    overflow: auto;
    list-style: none;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    padding: 1vw 1vw;

    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.autocomplete-dropdown li {
    padding: .8vw 1.5vw;
    border-radius: 12px;
    font-size: 1.1vw;
    color: #828282;
    cursor: pointer;
}

.autocomplete-dropdown li:hover {
    background: #F2F2F2;
    color: #34333A;
}


@media (max-width: 767px) {

    .new-item-content {
        padding: 6vw 4vw;
        gap: 8vw;
    }

    .new-item-content h1 {
        font-size: 6.1vw;
    }

    form {
        gap: 20px;
    }

    .form-field-section {
        gap: 2vw;
    }

    .form-field-section label {
        font-size: 4.1vw;
    }

    .form-field-section input {
        padding: 3vw 3vw;
        font-size: 4.1vw;
    }

    .form-field-section textarea {
        padding: 3vw;
        font-size: 4.1vw;
        height: 16vh;
    }

    .form-button-section {
        flex-direction: column;
    }

    .btn-cancel {
        background-color: white;
        font-size: 4.1vw;
        padding: 3vw;
    }
    
    .btn-save {
        width: 100%;
        font-size: 4.1vw;
        padding: 3vw;
    }

    .autocomplete-dropdown li {
        padding: 3vw;
        font-size: 4.1vw;
    }

    .autocomplete-dropdown {
        height: 14vh;
    }

}