.monthly-history-list h3 {
    font-weight: 500;
    font-size: .9vw;
    margin-bottom: 1.3vw;
}

.history-list {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}


@media (max-width: 767px) {

    .monthly-history-list h3 {
        font-size: 3.5vw;
    }
    
}