.items-list-section {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.items-list-section h2 {
    font-size: 1.3vw;
}

.grid-items-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
}

@media (min-width: 768px) and (max-width: 991px) {

    .grid-items-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5vw;
    }

    .items-list-section h2 {
        font-size: 1.6vw;
    }

}

@media (max-width: 767px) {

    .items-list-section {
        gap: 3vw;
        max-width: fit-content;
        overflow: hidden;
    }
    

    .grid-items-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
    }

    .items-list-section h2 {
        font-size: 4vw;
    }

}