.shopping-list-content {
    height: 100vh;
    padding: 0 2.5vw;
    padding-top: 2.5vw;
    background-color:#FFF0DE;

    display: flex;
    flex-direction: column;
    gap: 3vw;
    position: relative;
}

.add-item-card {
    background-color: #80485B;
    color: #fff;
    border-radius: 24px;
    padding: 1vw 1vw;
    height: 17vh;

    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.icon-row {
    position: relative;
    top: -2.5vw;
    left: 0;
}

.icon-row img {
    width: 100%;
}

.content-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-row h3 {
    font-size: 1.2vw;
}

.content-row button {
    border: none;
    font: inherit;
    cursor: pointer;

    width: 60%;
    height: 5vh;
    border-radius: 12px;
    background-color: #fff;
    font-size: 1vw;
    font-weight: bold;
}

.content-row button:hover {
    opacity: .9;
}

.name-footer {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 12vh;
    bottom: 0;
    left: 0;
    padding: 1.5vw 2.5vw;
}

.name-footer .enter-name-input {
    border: 2px solid #F9A109;
    border-radius: 12px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name-footer .enter-name-input input {
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0 1vw;

    color: #BDBDBD;
    font-size: 1vw;
    width: 60%;
}

.name-footer .enter-name-input input:focus {
    outline: none;
}

.name-footer .enter-name-input button {
    background: #F9A109;
    border-radius: 8px;
    border: none;
    height: 100%;
    width: 20%;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {

    .add-item-card {
        height: 14vh;
        gap: 2vw;
    }

    .content-row h3 {
        font-size: 1.5vw;
    }

    .content-row button {
        width: 70%;
        height: 4vh;
        font-size: 1.2vw;
    }

    .name-footer {
        height: 9vh;
    }

    .name-footer .enter-name-input input {
        font-size: 1.3vw;
    }

    .name-footer .enter-name-input button {
        font-size: 1.3vw;
        width: 22%;
    }

}

@media (max-width: 767px) {

}