.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 30px 0;
}

.sidebar-content .logo img {
    width: 90%;
}

.sidebar-content .tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-content .tabs .items-tab {
    color: #454545;
    height: 4.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-content .tabs .history-tab {
    color: #454545;
    height: 4.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tooltip-text {
    position: absolute;
    left: 5%;
    padding: .4vw;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s linear;
    visibility: visible;
    font-size: .8vw;
}

.items-tab:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.history-tab:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.statistics-tab:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.sidebar-content .tabs .statistics-tab {
    color: #454545;
    height: 4.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active-tab {
    border-left: 6px solid #F9A109;
    border-bottom-right-radius: 5px;  
    border-top-right-radius: 5px;
}

.sidebar-content .cart {
    position: relative;
    width: 3.2vw;
    height: 3.2vw;
    cursor: pointer;
}

.sidebar-content .cart .cart-icon {
    background-color: #F9A109;
    color: #fff;
    height: 100%;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-content .cart .cart-icon span {
    font-size: 1.6vw;
}

.sidebar-content .cart .badge {
    width: 1.3vw;
    height: 1.3vw;
    background-color: #EB5757;
    border-radius: 4px;
    color: #fff;
    font-size: 0.8vw;
    
    position: absolute;
    top: -0.3vw;
    right: -0.3vw;

    display: flex;
    justify-content: center;
    align-items: center;
}