.shoppingify-app {
  width: 100vw;
  height: 100dvh;

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.sidebar {
  flex: 1;
  background-color: #fff;
}

.principal-content {
  flex: 13;
}

.shopping-list {
  flex: 6;
}

@media (min-width: 768px) and (max-width: 991px) {

  .sidebar {
    flex: 1.5;
  }

  .shopping-list {
    flex: 7;
  }

}

@media (max-width: 767px) {

  .sidebar {
    flex: 1.3;
    overflow: hidden;
  }

  .principal-content,
  .shopping-list {
    flex: 0;
    max-width: 0;
    transition: flex 0.2s ease, max-width 0.2s ease;
  }

  .display {
    flex: 7;
    max-width: 100%;
    opacity: 1;
  }

}