.shoppingify-app {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 1;
  background-color: #fff;
}

.principal-content {
  flex: 13;
  /* background-color: green; */
}

.shopping-list {
  flex: 6;
  background-color:#FFF0DE;
}